{% from '_formhelpers.html' import render_field %}

{% extends 'layout.html' %}
{% block body %}

<h1 class="ui center aligned massive header">
  New Question
</h1>

<form action="{{url_for('questions')}}" method="post" class="ui form">
  <div class="four wide field">
      {{ render_field(form.category) }}
  </div>
  <div class="field">
    {{ render_field(form.question) }}
  </div>
  <div class="two fields">
    <div class="field">
      {{ render_field(form.option_a) }}
    </div>
    <div class="field">
      {{ render_field(form.option_b) }}
    </div>
  </div>
  <div class="two fields">
    <div class="field">
      {{ render_field(form.option_c) }}
    </div>
    <div class="field">
      {{ render_field(form.option_d) }}
    </div>
  </div>
  <div class="four wide field">
    {{ render_field(form.answer) }}
  </div>

  <input type="submit" value="Submit" class="ui fluid button"/>
</form>

{% endblock %}
